// .big-shoulders-display-<uniquifier> {
//   font-family: "Big Shoulders Display", sans-serif;
//   font-optical-sizing: auto;
//   font-weight: 700;
//   font-style: normal;
// }

// .iceland-regular {
//   font-family: "Iceland", sans-serif;
//   font-weight: 400;
//   font-style: normal;
// }

// задний фон
// background: linear-gradient(45deg, rgb(0, 0, 0) 86%, rgb(214, 79, 79));
$_main_text_family: "Iceland", sans-serif;
$_main_text_color: #ffffff;

$_second_text_family: "Big Shoulders Display", sans-serif;
$_second_text_color: #e84a4a;
