@import "./common/mixins";
@import "./common/vars";

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @include media(desktop) {
    &__list {
      padding: 5px;
    }
    &__item {
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }
    &__title {
      font-size: 16px;
      font-weight: 400;
      line-height: 1.17;
      // letter-spacing: 1px;
      font-family: $_main_text_family;
      color: #7a7a7a;
      margin-right: 50px;
      text-transform: uppercase;
      width: 250px;
    }
    &__text {
      font-size: 16px;
      font-weight: 400;
      line-height: 1.17;
      // letter-spacing: 1px;
      font-family: $_main_text_family;
      // color: #f50303;

      color: #ffffff;
      text-transform: uppercase;
      width: 700px;
    }
  }
}

// .aboute {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   @include media(desktop) {
//     &__item {
//       display: flex;

//       max-width: 400px;
//     }
//     &__title {
//       // margin-right: 100px;
//     }
//   }
// }
// .test {
//   display: flex;
// }
