.container {
  display: flex;
  justify-content: space-between;

  //   align-items: ;
}

.content-container {
  width: 1300px;
  height: 800px;
  // flex: 1;
  // background: linear-gradient(
  //   90deg,
  //   rgb(0, 0, 0) 14%,
  //   rgb(187, 88, 73) 50%,
  //   rgb(0, 0, 0) 85%
  // );
  border: 1px solid gray;
  // padding: 20px;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
