@import "./common/mixins";
@import "./common/vars";

.contacts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  align-items: center;
  justify-items: center;
  grid-column: 2 / 3;
  grid-row: 2 / 3;

  &__doit {
    padding: 20px;
  }

  &__propose {
    font-size: 64px;
    margin-bottom: 55px;
  }

  &__details {
    display: flex;
    align-items: center;
  }

  &__foto {
    max-width: 100px;
    border: 2px solid #00a000;
    padding: 10px;
    border-radius: 20px;
    background-color: white;
  }

  &__name {
    font-size: 24px;
    padding-left: 20px;
    padding-bottom: 20px;
  }

  &__email {
    font-size: 18px;
    padding-left: 20px;
  }

  &__form-container {
    display: flex;
    flex-direction: column;
    border: 2px solid #00ff00;
    max-width: 400px;
    background-color: transparent;
    padding: 20px;
  }
  &__input {
    width: 350px;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid;
    border-color: #00ff00;
    background-color: transparent;
  }

  &__input:focus,
  &__input:hover {
    outline: none;
    border-color: #aa0000;
  }

  &__area {
    max-width: 350px;
    // max-height: 210px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: transparent;
    border: 2px solid #00ff00;
  }

  &__area:focus,
  &__area:hover {
    outline: none;
    border-color: #aa0000;
  }

  &__button {
    // max-width: 210px;
    padding: 10px 67px;
    color: #00ff00;
    margin: 0 auto;
    background-color: transparent;
    border: 2px solid #00ff00;
  }

  &__button:hover {
    color: black;
    background-color: #00ff00;
  }

  // &__input-container {
  // }
}

// .contacts__input:hover:focus {
//   border: 2px solid #aa0000;
// }
// .contacts {
//   display: flex;
//   justify-content: center;
//   &__list {
//     align-items: center;

//     flex-direction: column;
//   }
//   &__item {
//     display: flex;
//     align-items: center;
//     margin-bottom: 15px;
//     gap: 15px;

//     backdrop-filter: blur(18px) saturate(18%);
//     // -webkit-backdrop-filter: blur(18px) saturate(18%);
//     background-color: rgba(46, 46, 46, 0.25);

//     border-radius: 12px;
//     border: 1px solid rgba(255, 255, 255, 0.125);

//     padding: 15px;
//   }

//   &__icon {
//     // fill: white;
//     stroke: $_second_text_color;
//   }

//   &__contact {
//     font-size: 20px;
//     font-weight: 400;
//     line-height: 1.17;
//     letter-spacing: 1px;
//     font-family: $_second_text_family;
//     color: $_second_text_color;

//     // padding: 10px;
//     // padding-left: 10px;
//   }
// }

// .contacts {

//   padding-left: 150px;
//   padding-top: 150px;
// }
// .contact-list {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;

//   gap: 15px;
//   width: 250px;
//   padding-left: 50px;

//   &__item {
//     display: flex;
//     backdrop-filter: blur(18px) saturate(18%);
//     -webkit-backdrop-filter: blur(18px) saturate(18%);
//     background-color: rgba(46, 46, 46, 0.47);

//     border-radius: 12px;
//     border: 1px solid rgba(255, 255, 255, 0.125);
//   }

//   @include media(desktop) {
//     &__contact {
//       font-size: 20px;
//       font-weight: 400;
//       line-height: 1.17;
//       letter-spacing: 1px;
//       font-family: $_second_text_family;
//       color: $_second_text_color;
//     }
//     &__contact-icon {
//       stroke: red;

//     }
//   }
// }
