@import "./common/mixins";
@import "./common/vars";

.leftBar {
  width: 280px;

  @include media(desktop) {
    &__nameList {
      font-size: 20px;
      font-weight: 400;
      line-height: 1.17;
      letter-spacing: 1px;
      font-family: $_main_text_family;
      color: #ffffff;
    }
    &__valueList {
      font-size: 20px;
      font-weight: 400;
      line-height: 1.17;
      letter-spacing: 1px;
      font-family: $_second_text_family;
      color: $_second_text_color;
    }
    &__availability {
      font-size: 20px;
      font-weight: 400;
      line-height: 1.17;
      letter-spacing: 1px;
      font-family: $_second_text_family;
      color: #000003;
    }
  }
}

.img {
  // fill: rgb(52, 255, 1);
  // stroke: rgb(0, 0, 0);
  filter: brightness(0) saturate(100%) invert(19%) sepia(47%) saturate(6619%)
    hue-rotate(355deg) brightness(95%) contrast(84%);
}
