@import "./common/mixins";
@import "./common/vars";

.navigation {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-around;
  align-items: end;
  grid-column: 2 / 3;
  grid-row: 3 / 4;

  &__button {
    display: flex;
    gap: 46px;
    background-color: rgba(172, 117, 0, 0.4);
    padding: 17px 60px;
    // border-radius: 50px;
  }
  &__nav {
    font-family: $_main_text_family;
    font-weight: 700;
    font-size: 20px;
    // text-align: center;
    color: $_main_title_color;
  }
}
