@import "./common/mixins";
@import "./common/vars";

.card {
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    background: #2a2a3f;
    border-radius: 2px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 3px;
    border: 3px solid #00a000;
  }

  // display: grid;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  color: rgb(0, 0, 0);
  height: 650px;
  overflow-y: scroll;
  margin-top: 30px;
  // overflow: hidden;

  &__list {
    display: flex;
    align-items: center;
    flex-direction: column;

    gap: 15px;
  }

  &__item {
    width: 700px;
    border: 2px solid #00a000;
  }

  &__name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 120px;
  }

  &__title {
    display: flex;
    // background-color: #00a000;
    color: #00a000;
    padding: 5px;
    margin: 5px;
    gap: 10px;
  }
  &__info {
    margin-left: 20px;
  }

  &__link a {
    // display: flex;
    // flex-direction: column;
    border: 2px solid #00a000;
    margin-right: 20px;
    padding: 3px;
  }
  &__link {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  &__tech {
    display: flex;
    gap: 15px;
  }
}

// .card {
//   display: flex;
//   justify-content: center;

//   &__list {
//     display: flex;
//     flex-direction: column;
//     gap: 15px;
//   }

//   &__item {
//     display: flex;
//     // border: 3px solid #080808;
//     border: 1px solid #7dff68;
//     // border-radius: 2px;
//     padding: 10px;

//     backdrop-filter: blur(18px) saturate(18%);
//     -webkit-backdrop-filter: blur(18px) saturate(18%);
//     // background-color: rgba(46, 46, 46, 0.25);

//     // background: linear-gradient(
//     //   90deg,
//     //   rgba(25, 25, 25, 0.5) 0%,
//     //   rgba(232, 187, 74, 1) 300%
//     // );

//     border-radius: 12px;
//     border: 1px solid rgba(255, 255, 255, 0.125);
//   }
//   &__logo {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//   }
//   &__status {
//     font-family: $_main_text_family;
//     font-size: 14px;
//     font-weight: 400;
//     line-height: 1.17;
//     letter-spacing: 1px;
//     text-transform: uppercase;
//     text-align: center;
//   }
//   &__box_status_individual {
//     background-color: rgb(60, 182, 70);
//   }
//   &__box_status_team {
//     background-color: rgb(212, 64, 64);
//   }

//   &__info {
//     margin-left: 20px;
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//   }
//   &__name {
//     font-family: $_second_text_family;
//     font-size: 18px;
//     font-weight: 700;
//     line-height: 1.17;
//     letter-spacing: 2px;
//     text-transform: uppercase;
//     color: $_second_text_color;

//     padding-bottom: 5px;
//   }
//   &__description {
//     padding-bottom: 17px;
//     font-family: $_main_text_family;
//     font-size: 14px;
//     font-weight: 400;
//     line-height: 1.17;
//     letter-spacing: 1px;
//     text-transform: uppercase;
//     color: #7a7a7a;
//     text-align: center;
//   }
//   &__box_technologien {
//     // background-color: aqua;
//     // background: linear-gradient(
//     //   90deg,
//     //   rgba(39, 150, 59, 0.8407738095238095) 0%,
//     //   rgba(5, 5, 5, 1) 100%

//     border: 1px solid rgba(255, 255, 255, 0.125);
//     // );
//   }
// }

// p,
// h2 {
//   color: rgb(2, 2, 2);
// }

// .test {
//   color: aliceblue;
// }

// .card-container {
//   border: 1px solid $_second_text_color;

//   display: flex;

//   &__project-icon {
//     stroke: rgb(65, 180, 75);
//     width: 64px;
//     height: 64px;
//     margin-bottom: 15px;
//   }

//   &__technologien {
//     stroke: rgb(255, 255, 255);
//     width: 48px;
//     height: 48px;
//   }
//   &__technologien-list {
//     display: flex;
//   }
//   &__img {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     flex-direction: column;
//     padding-top: 8px;
//     padding-left: 17px;
//   }
// }
