// p,
// h2 {
//   color: aliceblue;
// }

// .test {
//   color: aliceblue;
// }

// .test2 {
//   stroke: rgb(65, 180, 75);
//   width: 64px;
//   height: 64px;
// }

// .preview {
//   width: 220px;
// }

#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 800px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}
