// @use "./helloPage.scss";
// @use "./common/reset";

:root {
  background: radial-gradient(
    circle,
    hsla(64, 54%, 80%, 1) 0%,
    hsla(177, 100%, 9%, 1) 35%
  );
  background-repeat: no-repeat;
  background-size: cover;
  // background-repeat: no-repeat;
  // background-size: cover;
  // height: 100vh;
  // margin: 50px;
  // padding: 50px;
}
