@use "./helloPage.scss";
// @use "./common/reset";

:root {
  // background: linear-gradient(45deg, rgb(0, 0, 0) 86%, rgb(214, 79, 79));
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin: 0;
}
