// EFF1C5

.location {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  grid-template-rows: repeat(3, minmax(100px, 1fr));

  color: aliceblue;
  border-radius: 50px;
  height: 100%;
  width: 100%;
  background-color: #202030;
  padding: 35px 20px;

  &__data {
    color: #eff1c5;
  }
  &__left-top {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  &__right-top {
    justify-self: end;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }
  &__left-bottom {
    align-self: self-end;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  &__right-bottom {
    align-self: self-end;
    justify-self: end;
    grid-column: 3/ 4;
    grid-row: 3 / 4;
  }
  &__data {
    font-size: 18px;
  }
}
