// EFF1C5
@import "./common/vars";
.location {
  // grid-template-columns: repeat(3, minmax(100px, 1fr));
  // grid-template-columns: 1fr 5fr 1fr;
  // grid-template-rows: 1fr 10fr 1fr;
  // grid-template-rows: repeat(3, minmax(100px, 1fr));
  // border-radius: 50px;
  // background-color: #202030;
  display: grid;
  color: $_main_text_color;
  border: 3px solid $_main_title_color;
  height: 100%;
  // width: 100%;
  padding: 35px 20px;

  &__data {
    color: $_main_text_color;
  }
  &__left-top {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  &__right-top {
    justify-self: end;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }
  &__left-bottom {
    align-self: self-end;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  &__right-bottom {
    align-self: self-end;
    justify-self: end;
    grid-column: 3/ 4;
    grid-row: 3 / 4;
  }
  &__data {
    font-size: 18px;
  }
}
